.first
    position: relative
    height: 500px
    font-size: 100px
    font-weight: 700
    color: rgba(255, 255, 255, .5)
    img
        max-width: 100%
        display: block
    &-first
        position: absolute
        bottom: 25%
        left: 10%
    &-second
        position: absolute
        bottom: 0
        right: 10%

@media (max-width: 767px)
    .first
        height: 350px
        font-size: 50px
@media (max-width: 575px)
    .first
        font-size: 35px

